/* Mobile */

@media screen and (max-width: 800px) 
{
	section.cookies
	{
		text-align: center;
	}
	section.cookies h4
	{
		padding: 10px 45px 25px 45px;
	}
	section.cookies a.accept
	{
		width: auto;
		text-align: center;
	}
}

/* End of Mobile */
/* Desktop */

@media screen and (min-width: 800px) 
{
	section.cookies
	{
		display: flex;
	}
	section.cookies h4
	{
		float: left;
		width: 80%;
		padding: 15px;
	}
	section.cookies a.accept
	{
		float: right;
		width: 15%;
		margin: 10px 50px 0 0 !important;
	}
}

/* End of Desktop */

section.cookies
{
	z-index: 100;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: var(--lightColor);
	align-items: center;
	padding: 30px 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: none;
}
section.cookies h4
{
	font-size: 16px;
	text-align: center;
	margin: 0;
}
section.cookies a.accept
{
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding: 10px 20px;
	background: var(--secondaryColor);
	color: var(--lightColor);
	border-radius: 50px;
}
section.cookies a.accept:hover
{
	background: var(--baseColor);
	text-decoration: none;
}