/* Mobile */

@media screen and (max-width: 800px) 
{
	.header { position: relative; background: none; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; }
	.header .logo.affiliates { display: none; }

	#header-logo { cursor: pointer; position: relative; top: 45px; display: block; width: 265px; text-align: center; margin: 0 auto; padding-top: 150px; }
	#header-logo .emblem { position: absolute; top: 0; left: 0; }
	#header-logo .logo { position: absolute; top: 10px; left: 71px; }

	.hash.active { background-color: #a1a1a1; color: #ffffff !important; }

	
}

/* End of Mobile */
/* Desktop */

@media screen and (min-width: 800px) 
{
	.header 
	{ 
		/*box-shadow: 0 0 30px 10px #e1e1e1;*/ 
		width: 100%; 
		-moz-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
		-khtml-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
		-webkit-box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.3);

	}

	.header-wrapper 
	{
		position: relative;
		width: 940px; 
		height: 152px; 
	}

	#header-logo { position: absolute; z-index: 200; top: 50px; left: 50px; }
	#header-logo .logo { position: absolute; top: 10px; left: 72px; }
	#header-logo .logo img { cursor: pointer; }

	.logo.affiliates { position: absolute; top: 30px; right: 100px; }
}

/* End of Desktop */

.header
{
	position: -webkit-sticky;
	position: sticky;
	padding: 5px;
	background-color: var(--lightColor);
	z-index: 100;
}

.header-wrapper 
{
	position: relative;
}

#header-logo .emblem { position: absolute; top: -8px; animation: emblem 10s infinite linear forwards; }
@keyframes emblem {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}